[package]
name = "volo-http"
version = "0.0.0"
edition.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
authors.workspace = true
description = "HTTP framework implementation of volo."
documentation = "https://docs.rs/volo-http"
readme = "README.md"
categories = ["asynchronous", "network-programming", "web-programming"]
keywords = ["async", "http"]

[dependencies]
hyper = { version = "1.0.0-rc.4", features = ["server", "http1", "http2"] }
tokio = { version = "1", features = ["full"] }
http-body-util = "0.1.0-rc.3"
http = { version = "0.2" }
hyper-util = { git = "https://github.com/hyperium/hyper-util.git" }
matchit = { version = "0.7" }
motore = { version = "0.3" }
tracing.workspace = true
futures-util.workspace = true
pin-project-lite = "0.2"
bytes.workspace = true
serde_json = "1"
thiserror.workspace = true
mime = "0.3"
serde = "1"
<<<<<<< HEAD
async-trait.workspace = true
=======
>>>>>>> init

[dev-dependencies]
serde = { version = "1", features = ["derive"] }
