[package]
name = "volo-http"
version = "0.0.0"
edition.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
authors.workspace = true
description = "HTTP framework implementation of volo."
documentation = "https://docs.rs/volo-http"
readme = "README.md"
categories = ["asynchronous", "network-programming", "web-programming"]
keywords = ["async", "http"]

[dependencies]
volo = { version = "0.8", path = "../volo" }
motore.workspace = true

hyper = { version = "=1.0.0-rc.3", features = ["server", "http1", "http2"] }
tokio = { version = "1", features = ["full"] }
http-body-util = "=0.1.0-rc.2"
http = { version = "0.2" }
matchit = { version = "0.7" }
tracing.workspace = true
futures-util.workspace = true
pin-project-lite = "0.2"
bytes.workspace = true
serde_json = "1"
thiserror.workspace = true
mime = "0.3"
serde = "1"
async-trait.workspace = true
parking_lot.workspace = true

[dev-dependencies]
serde = { version = "1", features = ["derive"] }
