[package]
name = "volo-http"
version = "0.2.0-rc.2"
edition.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
authors.workspace = true
description = "HTTP framework implementation of volo."
documentation = "https://docs.rs/volo-http"
readme = "README.md"
categories = ["asynchronous", "network-programming", "web-programming"]
keywords = ["async", "rpc", "http"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
volo = { version = "0.9", path = "../volo" }

ahash.workspace = true
bytes.workspace = true
chrono.workspace = true
faststr.workspace = true
futures.workspace = true
futures-util.workspace = true
http.workspace = true
http-body.workspace = true
http-body-util.workspace = true
hyper = { workspace = true, features = ["client", "server", "http1"] }
hyper-util = { workspace = true, features = ["tokio"] }
metainfo.workspace = true
mime.workspace = true
motore.workspace = true
parking_lot.workspace = true
paste.workspace = true
pin-project.workspace = true
scopeguard.workspace = true
simdutf8.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = [
    "time",
    "macros",
    "rt",
    "signal",
    "parking_lot",
] }
tracing.workspace = true

# server optional
matchit = { workspace = true, optional = true }

# tls optional
tokio-rustls = { workspace = true, optional = true }
tokio-native-tls = { workspace = true, optional = true }

# cookie support
cookie = { workspace = true, optional = true, features = ["percent-encode"] }

# serde and form, query, json
serde = { workspace = true, optional = true }
serde_html_form = { workspace = true, optional = true }
serde_urlencoded = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
# sonic is a better replacement for json
sonic-rs = { workspace = true, optional = true }

[dev-dependencies]
serde = { version = "1", features = ["derive"] }

[features]
default = []

default_client = ["client", "json"]
default_server = ["server", "query", "form", "json"]

full = ["client", "server", "rustls", "cookie", "query", "form", "json"]

client = ["hyper/client"] # client core
server = ["hyper/server", "dep:matchit"] # server core

__tls = []
rustls = ["__tls", "dep:tokio-rustls", "volo/rustls"]
native-tls = ["__tls", "dep:tokio-native-tls", "volo/native-tls"]
native-tls-vendored = ["native-tls", "volo/native-tls-vendored"]

cookie = ["dep:cookie"]

__serde = ["dep:serde"] # a private feature for enabling `serde` by `serde_xxx`
query = ["__serde", "dep:serde_urlencoded"]
form = ["__serde", "dep:serde_html_form"]
json = ["sonic_json"] # use `sonic_json` by default

__json = [] # an empty and private feature for avoiding too many `cfg(any)`
sonic_json = ["__serde", "dep:sonic-rs", "__json"]
serde_json = ["__serde", "dep:serde_json", "__json"]
