name: "CI"
on:
  pull_request:
  push:
    branches:
      - main

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:
  ci-pass:
    name: CI is green
    runs-on: ubuntu-latest
    needs:
      - test-linux
      - test-linux-aarch64
      - test-macos
      - test-windows
      - lint
    steps:
      - run: exit 0

  test-linux:
    runs-on: [self-hosted, X64]

    strategy:
      matrix:
        rust: [nightly, beta, stable]
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: ${{matrix.rust}}
      - name: Run tests
        run: |
          cargo check --features multiplex
          cargo check --features rustls,native-tls,vendored
          cargo test

  test-linux-aarch64:
    runs-on: [self-hosted, arm]

    strategy:
      matrix:
        rust: [nightly, beta, stable]
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: ${{matrix.rust}}
      - name: Run tests
        run: |
          cargo check --features multiplex
          cargo check --features rustls,native-tls,vendored
          cargo test

  test-macos:
    runs-on: macos-latest

    strategy:
      matrix:
        rust: [nightly, beta, stable]
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: ${{matrix.rust}}
      - uses: Swatinem/rust-cache@v1
      - name: Run tests
        run: |
          cargo check --features multiplex
          cargo check --features rustls,native-tls,vendored
          cargo test

  test-windows:
    runs-on: windows-latest

    strategy:
      matrix:
        rust: [nightly, beta, stable]
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: ${{matrix.rust}}
      - uses: Swatinem/rust-cache@v1
      - name: Run tests
        run: |
          cargo check --features multiplex
          cargo check --features rustls,native-tls,vendored
          cargo test

  lint:
    runs-on: [self-hosted, X64]

    strategy:
      matrix:
        rust: [nightly]
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: ${{matrix.rust}}
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Format check
        run: |
          cargo fmt -- --check
          cargo clippy -- --deny warnings
